

<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
  $('#StartDate').datepicker({
    timepicker: false,
    datepicker: true,
    format: 'dd/mm/yyyy',
  });
  $('#EndDay').datepicker({
    timepicker: false,
    datepicker: true,
    format: 'dd/mm/yyyy',
  });
</script>
</body>
</html>