<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="http://<%= HOST %>:<%= PORT %>" /> -->
    <title>ADMIN MANAGER</title>
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Checkin Gate</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav mr-auto"></div>
          <% if(locals.getFullname) { %>
          <div class="my-2 my-lg-0">
            <span class="fa"><%= getFullname %></span>
            <a href="/logout" class="">(Logout)</a>
          </div>
          <% } %>
        </div>
      </nav>
    </div>
  </body>
</html>
